@import "tailwindcss";
@media print {
  .page-break {
    page-break-after: always;
  }
}
.page-break {
  page-break-before: always;
  break-before: page;
}

/* Add to your CSS file */
@media print, screen {
  .pdf-safe * {
    color: black !important;
    background-color: white !important;
    border-color: #ccc !important;
  }
  
  .pdf-safe .bg-blue-600 {
    background-color: #3b82f6 !important;
  }
  
  .pdf-safe .text-white {
    color: white !important;
  }
}
* {
  box-sizing: border-box;
  font-family: 'Segoe UI';
}
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

